---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Tracksy">
    <div
        class="min-h-screen flex items-center justify-center bg-gray-50 dark:bg-gray-950"
    >
        <div class="max-w-lg mx-auto">
            <h1 class="text-xl font-bold text-center mb-4 dark:text-white">
                Tracksy
            </h1>
        </div>
    </div>
</Layout>
