version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/app"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
      - "[ app ]"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      npm-packages:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "uv"
    directory: "/synthetic-datasets"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
      - "[ synthetic-datasets ]"
    commit-message:
      prefix: "chore"
      include: "scope"
    # Dependabot don't support pyproject.toml updates: https://github.com/astral-sh/uv/issues/2512
    # It only updates the uv.lock file, so we've decided to group together all bumps (except major ones).
    groups:
      bump-uv-lock:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
      - "ci/cd"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      github-actions:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "gitsubmodule"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
      - "[ blog ]"
    commit-message:
      prefix: "chore"
      include: "scope"
