name: Deploy Tracksy Blog to GitHub Pages

on:
  push:
    branches: ["main"]
    paths:
      - "blog/**"
      - ".github/workflows/blog.yml"
      - ".moon/toolchains.yml"
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6
        with:
          submodules: true # Fetch Blowfish theme
          fetch-depth: 2

      - name: Install moon
        uses: moonrepo/setup-toolchain@v0
        with:
          auto-install: false

      - name: Setup toolchains
        run: moon setup

      - name: Build with Hugo
        run: moon run blog:build -- -d ./public --baseURL https://Gudsfile.github.io/tracksy/blog/

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages # default: gh-pages
          publish_dir: ./blog/public
          destination_dir: ./blog
          keep_files: true # Important : garde les autres fichiers
          # exclude_assets: "blog/**" # Ne touche pas au dossier blog
