name: Deploy Tracksy Blog to live

on:
  push:
    branches: ["main"]
    paths:
      - "blog/**"
      - ".github/workflows/blog-deploy-live.yml"
      - ".moon/toolchains.yml"
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: gh-pages-deploy
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6
        with:
          submodules: true # Fetch Blowfish theme
          fetch-depth: 2

      - name: Install moon
        uses: moonrepo/setup-toolchain@v0
        with:
          auto-install: true
          auto-setup: true
          cache: true

      - name: Build with Hugo
        run: moon run blog:build -- -d ./public --baseURL https://Gudsfile.github.io/tracksy/blog/

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./blog/public
          destination_dir: ./blog
          keep_files: true # Important : keep other files
