name: E2E Tests

on:
  workflow_call:
    inputs:
      baseUrl:
        required: true
        type: string
      testPath:
        required: true
        type: string

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  e2e:
    name: Run E2E Tests
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install moon
        uses: moonrepo/setup-toolchain@v0
        with:
          auto-install: true
          auto-setup: true
          cache: true

      - name: Install Playwright Browsers
        run: moon run e2e:install-browsers

      - name: Check tests
        run: moon run e2e:test-coverage

      - name: Run Playwright tests
        run: moon run --updateCache e2e:run
        env:
          URL: ${{ inputs.baseUrl }}
          TEST_PATH: ${{ inputs.testPath }}

      - name: Upload Playwright Report
        uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: e2e/playwright-report/
          retention-days: 1
